In [44]:
import pandas as pd
df=pd.read_csv("Motor_Vehicle_Collisions_-_Crashes.csv")

/var/folders/xr/82_smqfn2tj6c8jcx6cpnl_c0000gn/T/ipykernel_39930/3514536868.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Motor_Vehicle_Collisions_-_Crashes.csv")

In [3]:
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059088,01/15/2024,13:00,NaN,NaN,NaN,NaN,NaN,CLOVE ROAD,HYLAN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4695474,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2059089,01/15/2024,19:00,BRONX,10470.0,40.905815,-73.853040,"(40.905815, -73.85304)",NaN,NaN,4747 BRONX BOULEVARD,...,Unspecified,NaN,NaN,NaN,4695567,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2059090,01/15/2024,20:07,BROOKLYN,11229.0,40.597263,-73.951010,"(40.597263, -73.95101)",OCEAN AVENUE,AVENUE V,NaN,...,Unspecified,NaN,NaN,NaN,4695659,Sedan,NaN,NaN,NaN,NaN
2059091,01/15/2024,8:30,MANHATTAN,10001.0,40.749786,-73.987780,"(40.749786, -73.98778)",WEST 34 STREET,AVENUE OF THE AMERICAS,NaN,...,Unspecified,NaN,NaN,NaN,4695446,PK,Bike,NaN,NaN,NaN
2059092,01/15/2024,19:00,NaN,NaN,40.699580,-73.927800,"(40.69958, -73.9278)",WILLOUGHBY AVENUE,CENTRAL AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4695508,Sedan,NaN,NaN,NaN,NaN

In [45]:
null_counts = df.isnull().sum()

In [46]:
null_counts

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           640577
ZIP CODE                          640825
LATITUDE                          232656
LONGITUDE                         232656
LOCATION                          232656
ON STREET NAME                    436122
CROSS STREET NAME                 776168
OFF STREET NAME                  1715344
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6673
CONTRIBUTING FACTOR VEHICLE 2     317704
CONTRIBUTING FACTOR VEHICLE 3    1912297
CONTRIBUTING FACTOR VEHICLE 4    2026013
CONTRIBUTING FACTOR VEHICLE 5    2050146
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13393
VEHICLE TYPE CODE 2               390962
VEHICLE TYPE CODE 3              1917559
VEHICLE TYPE CODE 4              2027147
VEHICLE TYPE CODE 5              2050418
dtype: int64

In [47]:
columns_to_drop = ['VEHICLE TYPE CODE 5', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 3']
df.drop(columns=columns_to_drop, inplace=True)

In [48]:
columns_to_drop = ['CONTRIBUTING FACTOR VEHICLE 5', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 3']
df.drop(columns=columns_to_drop, inplace=True)

In [49]:
null_counts = df.isnull().sum()
null_counts

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           640577
ZIP CODE                          640825
LATITUDE                          232656
LONGITUDE                         232656
LOCATION                          232656
ON STREET NAME                    436122
CROSS STREET NAME                 776168
OFF STREET NAME                  1715344
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6673
CONTRIBUTING FACTOR VEHICLE 2     317704
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13393
VEHICLE TYPE CODE 2               390962
dtype: int64

In [50]:
columns_to_drop = ['OFF STREET NAME']
df.drop(columns=columns_to_drop, inplace=True)

In [51]:
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,...,0,0,0,2,0,Aggressive Driving/Road Rage,Unspecified,4455765,Sedan,Sedan
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,1.0,...,0,0,0,1,0,Pavement Slippery,NaN,4513547,Sedan,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,0.0,...,0,0,0,0,0,Following Too Closely,Unspecified,4541903,Sedan,Pick-up Truck
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,0.0,...,0,0,0,0,0,Unspecified,NaN,4456314,Sedan,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,0.0,...,0,0,0,0,0,NaN,NaN,4486609,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059088,01/15/2024,13:00,NaN,NaN,NaN,NaN,NaN,CLOVE ROAD,HYLAN BOULEVARD,3.0,...,0,0,0,3,0,Following Too Closely,Unspecified,4695474,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
2059089,01/15/2024,19:00,BRONX,10470.0,40.905815,-73.853040,"(40.905815, -73.85304)",NaN,NaN,0.0,...,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4695567,Station Wagon/Sport Utility Vehicle,NaN
2059090,01/15/2024,20:07,BROOKLYN,11229.0,40.597263,-73.951010,"(40.597263, -73.95101)",OCEAN AVENUE,AVENUE V,2.0,...,0,0,0,2,0,Driver Inattention/Distraction,Unspecified,4695659,Sedan,NaN
2059091,01/15/2024,8:30,MANHATTAN,10001.0,40.749786,-73.987780,"(40.749786, -73.98778)",WEST 34 STREET,AVENUE OF THE AMERICAS,1.0,...,0,1,0,0,0,Failure to Yield Right-of-Way,Unspecified,4695446,PK,Bike
2059092,01/15/2024,19:00,NaN,NaN,40.699580,-73.927800,"(40.69958, -73.9278)",WILLOUGHBY AVENUE,CENTRAL AVENUE,0.0,...,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4695508,Sedan,NaN

In [52]:
null_counts = df.isnull().sum()
null_counts

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          640577
ZIP CODE                         640825
LATITUDE                         232656
LONGITUDE                        232656
LOCATION                         232656
ON STREET NAME                   436122
CROSS STREET NAME                776168
NUMBER OF PERSONS INJURED            18
NUMBER OF PERSONS KILLED             31
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      6673
CONTRIBUTING FACTOR VEHICLE 2    317704
COLLISION_ID                          0
VEHICLE TYPE CODE 1               13393
VEHICLE TYPE CODE 2              390962
dtype: int64

In [53]:
df['CRASH DATE'] = pd.to_datetime(df['CRASH DATE'], errors='coerce')

In [54]:
df.dtypes

CRASH DATE                       datetime64[ns]
CRASH TIME                               object
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
dtype: object

In [55]:
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,2021-09-11,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,...,0,0,0,2,0,Aggressive Driving/Road Rage,Unspecified,4455765,Sedan,Sedan
1,2022-03-26,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,1.0,...,0,0,0,1,0,Pavement Slippery,NaN,4513547,Sedan,NaN
2,2022-06-29,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,0.0,...,0,0,0,0,0,Following Too Closely,Unspecified,4541903,Sedan,Pick-up Truck
3,2021-09-11,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,0.0,...,0,0,0,0,0,Unspecified,NaN,4456314,Sedan,NaN
4,2021-12-14,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,0.0,...,0,0,0,0,0,NaN,NaN,4486609,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059088,2024-01-15,13:00,NaN,NaN,NaN,NaN,NaN,CLOVE ROAD,HYLAN BOULEVARD,3.0,...,0,0,0,3,0,Following Too Closely,Unspecified,4695474,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
2059089,2024-01-15,19:00,BRONX,10470.0,40.905815,-73.853040,"(40.905815, -73.85304)",NaN,NaN,0.0,...,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4695567,Station Wagon/Sport Utility Vehicle,NaN
2059090,2024-01-15,20:07,BROOKLYN,11229.0,40.597263,-73.951010,"(40.597263, -73.95101)",OCEAN AVENUE,AVENUE V,2.0,...,0,0,0,2,0,Driver Inattention/Distraction,Unspecified,4695659,Sedan,NaN
2059091,2024-01-15,8:30,MANHATTAN,10001.0,40.749786,-73.987780,"(40.749786, -73.98778)",WEST 34 STREET,AVENUE OF THE AMERICAS,1.0,...,0,1,0,0,0,Failure to Yield Right-of-Way,Unspecified,4695446,PK,Bike
2059092,2024-01-15,19:00,NaN,NaN,40.699580,-73.927800,"(40.69958, -73.9278)",WILLOUGHBY AVENUE,CENTRAL AVENUE,0.0,...,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4695508,Sedan,NaN

In [56]:
df.info

<bound method DataFrame.info of         CRASH DATE CRASH TIME    BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0       2021-09-11       2:39        NaN      NaN        NaN        NaN
1       2022-03-26      11:45        NaN      NaN        NaN        NaN
2       2022-06-29       6:55        NaN      NaN        NaN        NaN
3       2021-09-11       9:35   BROOKLYN  11208.0  40.667202 -73.866500
4       2021-12-14       8:13   BROOKLYN  11233.0  40.683304 -73.917274
...            ...        ...        ...      ...        ...        ...
2059088 2024-01-15      13:00        NaN      NaN        NaN        NaN
2059089 2024-01-15      19:00      BRONX  10470.0  40.905815 -73.853040
2059090 2024-01-15      20:07   BROOKLYN  11229.0  40.597263 -73.951010
2059091 2024-01-15       8:30  MANHATTAN  10001.0  40.749786 -73.987780
2059092 2024-01-15      19:00        NaN      NaN  40.699580 -73.927800

                        LOCATION           ON STREET NAME  \
0                            NaN    WHITESTONE EXPRESSWAY
1                            NaN  QUEENSBORO BRIDGE UPPER
2                            NaN       THROGS NECK BRIDGE
3          (40.667202, -73.8665)                      NaN
4        (40.683304, -73.917274)          SARATOGA AVENUE
...                          ...                      ...
2059088                      NaN               CLOVE ROAD
2059089   (40.905815, -73.85304)                      NaN
2059090   (40.597263, -73.95101)             OCEAN AVENUE
2059091   (40.749786, -73.98778)           WEST 34 STREET
2059092     (40.69958, -73.9278)        WILLOUGHBY AVENUE

              CROSS STREET NAME  NUMBER OF PERSONS INJURED  ...  \
0                     20 AVENUE                        2.0  ...
1                           NaN                        1.0  ...
2                           NaN                        0.0  ...
3                           NaN                        0.0  ...
4                DECATUR STREET                        0.0  ...
...                         ...                        ...  ...
2059088         HYLAN BOULEVARD                        3.0  ...
2059089                     NaN                        0.0  ...
2059090                AVENUE V                        2.0  ...
2059091  AVENUE OF THE AMERICAS                        1.0  ...
2059092          CENTRAL AVENUE                        0.0  ...

         NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
0                                   0                          0
1                                   0                          0
2                                   0                          0
3                                   0                          0
4                                   0                          0
...                               ...                        ...
2059088                             0                          0
2059089                             0                          0
2059090                             0                          0
2059091                             0                          1
2059092                             0                          0

         NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
0                               0                           2
1                               0                           1
2                               0                           0
3                               0                           0
4                               0                           0
...                           ...                         ...
2059088                         0                           3
2059089                         0                           0
2059090                         0                           2
2059091                         0                           0
2059092                         0                           0

         NUMBER OF MOTORIST KILLED   CONTRIBUTING FACTOR VEHICLE 1  \
0                                0    Aggressive Driving/Road Rage
1                                0               Pavement Slippery
2                                0           Following Too Closely
3                                0                     Unspecified
4                                0                             NaN
...                            ...                             ...
2059088                          0           Following Too Closely
2059089                          0  Driver Inattention/Distraction
2059090                          0  Driver Inattention/Distraction
2059091                          0   Failure to Yield Right-of-Way
2059092                          0  Driver Inattention/Distraction

         CONTRIBUTING FACTOR VEHICLE 2 COLLISION_ID  \
0                          Unspecified      4455765
1                                  NaN      4513547
2                          Unspecified      4541903
3                                  NaN      4456314
4                                  NaN      4486609
...                                ...          ...
2059088                    Unspecified      4695474
2059089                    Unspecified      4695567
2059090                    Unspecified      4695659
2059091                    Unspecified      4695446
2059092                    Unspecified      4695508

                         VEHICLE TYPE CODE 1  \
0                                      Sedan
1                                      Sedan
2                                      Sedan
3                                      Sedan
4                                        NaN
...                                      ...
2059088  Station Wagon/Sport Utility Vehicle
2059089  Station Wagon/Sport Utility Vehicle
2059090                                Sedan
2059091                                   PK
2059092                                Sedan

                         VEHICLE TYPE CODE 2
0                                      Sedan
1                                        NaN
2                              Pick-up Truck
3                                        NaN
4                                        NaN
...                                      ...
2059088  Station Wagon/Sport Utility Vehicle
2059089                                  NaN
2059090                                  NaN
2059091                                 Bike
2059092                                  NaN

[2059093 rows x 22 columns]>

In [57]:
df.dropna(subset=['LATITUDE'], inplace=True)

In [58]:
null_counts = df.isnull().sum()
null_counts

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          444694
ZIP CODE                         444916
LATITUDE                              0
LONGITUDE                             0
LOCATION                              0
ON STREET NAME                   380064
CROSS STREET NAME                684132
NUMBER OF PERSONS INJURED            16
NUMBER OF PERSONS KILLED             28
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      6072
CONTRIBUTING FACTOR VEHICLE 2    287458
COLLISION_ID                          0
VEHICLE TYPE CODE 1               12230
VEHICLE TYPE CODE 2              356613
dtype: int64

In [59]:
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
3,2021-09-11,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,0.0,...,0,0,0,0,0,Unspecified,NaN,4456314,Sedan,NaN
4,2021-12-14,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,0.0,...,0,0,0,0,0,NaN,NaN,4486609,NaN,NaN
6,2021-12-14,17:05,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,0.0,...,0,0,0,0,0,Passing Too Closely,Unspecified,4486555,Sedan,Tractor Truck Diesel
7,2021-12-14,8:17,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,2.0,...,0,0,0,2,0,Unspecified,Unspecified,4486660,Sedan,Sedan
8,2021-12-14,21:10,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,0.0,...,0,0,0,0,0,Driver Inexperience,Unspecified,4487074,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059087,2024-01-13,18:30,QUEENS,11434.0,40.666840,-73.789410,"(40.66684, -73.78941)",NORTH CONDUIT AVENUE,150 STREET,0.0,...,0,0,0,0,0,Other Vehicular,Unsafe Lane Changing,4695806,Sedan,NaN
2059089,2024-01-15,19:00,BRONX,10470.0,40.905815,-73.853040,"(40.905815, -73.85304)",NaN,NaN,0.0,...,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4695567,Station Wagon/Sport Utility Vehicle,NaN
2059090,2024-01-15,20:07,BROOKLYN,11229.0,40.597263,-73.951010,"(40.597263, -73.95101)",OCEAN AVENUE,AVENUE V,2.0,...,0,0,0,2,0,Driver Inattention/Distraction,Unspecified,4695659,Sedan,NaN
2059091,2024-01-15,8:30,MANHATTAN,10001.0,40.749786,-73.987780,"(40.749786, -73.98778)",WEST 34 STREET,AVENUE OF THE AMERICAS,1.0,...,0,1,0,0,0,Failure to Yield Right-of-Way,Unspecified,4695446,PK,Bike
2059092,2024-01-15,19:00,NaN,NaN,40.699580,-73.927800,"(40.69958, -73.9278)",WILLOUGHBY AVENUE,CENTRAL AVENUE,0.0,...,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4695508,Sedan,NaN

In [60]:
columns_to_fill = ['BOROUGH']  
df[columns_to_fill] = df[columns_to_fill].fillna('not known')

In [61]:
columns_to_drop = ['ZIP CODE']
df.drop(columns=columns_to_drop, inplace=True)

In [62]:
null_counts = df.isnull().sum()
null_counts

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                               0
LATITUDE                              0
LONGITUDE                             0
LOCATION                              0
ON STREET NAME                   380064
CROSS STREET NAME                684132
NUMBER OF PERSONS INJURED            16
NUMBER OF PERSONS KILLED             28
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      6072
CONTRIBUTING FACTOR VEHICLE 2    287458
COLLISION_ID                          0
VEHICLE TYPE CODE 1               12230
VEHICLE TYPE CODE 2              356613
dtype: int64

In [63]:
df.dropna(subset=['NUMBER OF PERSONS KILLED'], inplace=True)

In [65]:
df.dropna(subset=['NUMBER OF PERSONS INJURED'], inplace=True)

In [66]:
null_counts = df.isnull().sum()
null_counts

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                               0
LATITUDE                              0
LONGITUDE                             0
LOCATION                              0
ON STREET NAME                   380049
CROSS STREET NAME                684110
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      6066
CONTRIBUTING FACTOR VEHICLE 2    287431
COLLISION_ID                          0
VEHICLE TYPE CODE 1               12225
VEHICLE TYPE CODE 2              356585
dtype: int64

In [67]:
df.dropna(subset=['VEHICLE TYPE CODE 2'], inplace=True)

In [70]:
df.dropna(subset=['VEHICLE TYPE CODE 1'], inplace=True)

In [71]:
df.dropna(subset=['CONTRIBUTING FACTOR VEHICLE 2'], inplace=True)

In [74]:
columns_to_fill = ['ON STREET NAME']  
df[columns_to_fill] = df[columns_to_fill].fillna('unknown')
columns_to_fill = ['CROSS STREET NAME']  
df[columns_to_fill] = df[columns_to_fill].fillna('unknown')

In [75]:
null_counts = df.isnull().sum()
null_counts

CRASH DATE                       0
CRASH TIME                       0
BOROUGH                          0
LATITUDE                         0
LONGITUDE                        0
LOCATION                         0
ON STREET NAME                   0
CROSS STREET NAME                0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
COLLISION_ID                     0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
dtype: int64

In [91]:
columns_to_drop = ['LOCATION']
df.drop(columns=columns_to_drop, inplace=True)

,CRASH DATE,CRASH TIME,BOROUGH,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
6,2021-12-14,17:05,not known,40.709183,-73.956825,BROOKLYN QUEENS EXPRESSWAY,unknown,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486555,Sedan,Tractor Truck Diesel
7,2021-12-14,8:17,BRONX,40.868160,-73.831480,unknown,unknown,2.0,0.0,0,0,0,0,2,0,Unspecified,Unspecified,4486660,Sedan,Sedan
9,2021-12-14,14:58,MANHATTAN,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle
11,2021-12-14,16:50,QUEENS,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0.0,0.0,0,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle
14,2021-12-14,23:10,QUEENS,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,2.0,0.0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059083,2024-01-13,22:00,BROOKLYN,40.601192,-73.955910,AVENUE T,EAST 16 STREET,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,4695765,Sedan,Station Wagon/Sport Utility Vehicle
2059084,2024-01-15,23:30,QUEENS,40.688465,-73.803870,109 AVENUE,143 STREET,0.0,0.0,0,0,0,0,0,0,Failure to Keep Right,Unspecified,4695882,Sedan,Station Wagon/Sport Utility Vehicle
2059085,2024-01-15,19:50,STATEN ISLAND,40.521072,-74.236140,unknown,unknown,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,4695399,Sedan,PK
2059086,2024-01-15,3:15,QUEENS,40.677006,-73.812610,116 AVENUE,126 STREET,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4695387,LIMO,Pick-up Truck
2059091,2024-01-15,8:30,MANHATTAN,40.749786,-73.987780,WEST 34 STREET,AVENUE OF THE AMERICAS,1.0,0.0,0,0,1,0,0,0,Failure to Yield Right-of-Way,Unspecified,4695446,PK,Bike